<div class="list-group">
  <a href="#" class="list-group-item " *ngFor="let item of service.listItems" [class.text-success]='item.value > 0'  [class.text-danger]='item.value < 0'>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 ">{{item.label}}</h5>
      <div class="value">
        {{item.value | currency:'BRL'}}
      </div>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <small class="text-gray">{{item.desc}}</small>
      <small class="text-gray">{{item.date}}</small>
    </div>
  </a>


</div>

<ul class="list-group total-list">




  <li class="list-group-item list-group-item-primary">

      <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 ">Saldo</h5>
          <div class="value total">
            {{service.total | currency:'BRL'}}
          </div>
        </div>
  </li>
</ul>
