.text-gray{
  color: #666;
}
.value{
  font-weight: 600;
  font-size: 0.9em;

  &.total{
    font-size: 1.3em;
  }
}

div#history {
  a.list-group-item {
    p.description {
      display: none;
    }

    &:target {
      p.description {
        display: unset;
      }
    }
  }
}

.total-list{
  position: fixed;
  width: 100%;
  bottom: 0;
}
